.certificate-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8vw;
    letter-spacing: .3px;

    &.certification-general {
        background-color: #C8E6C9;
        color: #256029;
    }

    &.certification-ca-pg {
        background-color: #FEEDAF;
        color: #8A5340;
    }

    &.certification-14 {
        background-color: #FFCDD2;
        color: #C63737;
    }
}
