.movie-table {
    .card {
        padding: 6rem;
        padding-top: 2rem;

        .p-column-filter {
            width: 90%;
        }
        
        .p-column-title, .p-inputtext, .p-placeholder, td {
            font-size: 1vw; 
            //using viewport width as measurement unit to make text responsive
            //although to make it suitable for portrait mode we need to write explicit media queries
        }
    }
}
