.App {
    .page-header {
        font-size: 3vw;
        margin-top: 2rem;
        margin-bottom: 0;
        text-align: center;
        color: #636366;
        font-family: 'Libre Baskerville', 'Lora', serif;
    }
}
