@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  margin: 0;
  background-color: #E6E6E9;
  user-select: none;
}

